{% extends "base.html" %}

{% block content %}

<div class="prose">
  {{ section.content | safe }}
</div>

<div class="flex flex-wrap gap-[1px]">
  {{ macros::img_link_8831(src="kyle.png", href="https://kylehe.com/") }}
  {{ macros::img_link_8831(src="albert.png", href="https://tam-albert.github.io/") }}
  {{ macros::img_link_8831(src="yolkgirl.gif", href="https://trinityjchung.com/") }}
  {{ macros::img_link_8831(src="michael.gif", href="https://michaellisano.com/") }}
  {{ macros::img_link_8831(src="skip.png", href="https://skip.house/") }}
  {{ macros::img_link_8831(src="adym.png", href="https://adymchenko.github.io/") }}
  {{ macros::img_link_8831(src="njha.png", href="https://njha.dev/") }}
  {{ macros::img_link_8831(src="bencuan.gif", href="https://bencuan.me/") }}
  {{ macros::img_link_8831(src="jaysa.jpg", href="https://jaysa.net/") }}
  {{ macros::img_link_8831(src="kubernetes.png", href="https://kubernetes.io/") }}
  {{ macros::img_link_8831(src="darwin.gif", href="https://apple.com/") }}
  {{ macros::img_link_8831(src="nixos.png", href="https://nixos.org/") }}
  {{ macros::img_link_8831(src="8831.png", href="https://eightyeightthirty.one/") }}
  {{ macros::img_link_8831(src="ocf.png", href="https://www.ocf.berkeley.edu/") }}
</div>

{% endblock %}
